@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body { 
	display: grid;
	place-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-image: url("upgrades/ppp.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	user-select: none;
	position: relative;
	font-family: "Quicksand", sans-serif;
}
.main {
	display: flex;
	gap: 200px;
}
.left {
	text-align: center;
	font-size: 30px;
}
.blue-text {
	font-size: 32px;
	color: rgb(0, 3, 208);
	font-weight: 700;
}
.gem-img-container {
	position: relative;
}
.gem-image {
	width: 320px;
}
.gem-image:hover {
	opacity: 0.9;
	cursor: pointer;
}
.gem-image:active {
	opacity: 0.8;
	transform: scale(1.02);
}
.mid-section h4{
	margin: 0;
	margin-bottom: 20px;
	font-size: 20px;
}
.mid-section p{
	margin: 0;
}
.upgrade {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 330px;
	height: 60px;
	border: 4px solid black;
	padding: 10px 20px;
	border-radius: 5px;
	position: relative;
	margin-bottom: 20px;
	background-color: rgb(70, 70, 70);
}
.cost-info {
	display: flex;
	gap: 5px;
	height: 20px;
	align-items: center;
}
.next-level-info {
	position: absolute;
	right: -100px;
	background-color: rgb(90, 90, 90);
	height: 80px;
	width: 100px;
	text-align: center;
	display: none;
}
.upgrade:hover .next-level-info {
	display: block;
}
.upgrade-img {
	width: 50px;
}
.gem-img {
	width: 20px;
}
.statistics {
	position: absolute;
	bottom: 0;
	width: 450px;
	padding: 30px;
	border: 4px black solid;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: rgb(70, 70, 70);
	left: 50%;
	transform: translate(-50%);
}
.texts {
	display: flex;
	gap: 100px;
	justify-content: center;
	font-weight: bold;
	font-size: 22px;
}
.fade-up {
	animation: fade-up 1s;
}
@keyframes fade-up {
	0%{
		transform: translateY(0);
		opacity: 1;
	}
	20%{
		transform: translateY(-5px);
		opacity: 0.9;
	}
	40%{
		transform: translateY(-13px);
		opacity: 0.75;
	}
	60%{
		transform: translateY(-25px);
		opacity: 0.55;
	}
	80%{
		transform: translateY(-42px);
		opacity: 0.3;
	}
	100%{
		transform: translateY(-65px);
		opacity: 0;
	}
}